@use "../../node_modules/gerillass/scss/gerillass" as *;

h1, h2, h3, h4, h5, h6 {
  color: var(--c-grey4);
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	line-height: 1;
	margin-top: clamp(1.618rem, 3.14vw, 3.14rem);
	margin-bottom: clamp(0.618rem, 1.618vw, 1.618rem);
	@include only(first) {
		margin-top: 0;
	}
}

// Defaults for sub-headings
.sub-title {
  color: var(--c-accentContrasted);
  position: relative;
  top: 0.25vw;
  margin-left: 4.2vw;
  font-size: var(--md);
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: var(--space-phi);
  line-height: 1;
}

h1 {
  font-size: var(--h1);
  letter-spacing: -0.1vw;
	margin-top: 0;
}
h2 {
  font-size: var(--h2);
  letter-spacing: -0.075vw;
}
h3 {
  font-size: var(--h3);
  letter-spacing: -0.05vw;
}
h4 {
  font-size: var(--h4);
  letter-spacing: -0.025vw;
}
h5 {
  font-size: var(--h5);
  letter-spacing: 0;
}
h6 {
  font-size: var(--h6);
  letter-spacing: 0;
}

p {
  font-size: var(--base);
  line-height: var(--globalLineHeight);
  margin: calc(var(--space-phi) * 0.666) 0 calc(var(--space-phi) * 0.666);
  @include only(first) {
    margin-top: 0;
  }
  @include breakpoint(min, medium) {
    font-size: var(--p);
  }
  @include breakpoint(min, large) {
    font-size: var(--p);
  }
}

a[href] {
  color: var(--c-link);
  text-decoration: none;
  transition: color 200ms ease-in;
  &:hover {
    color: var(--c-linkHover);
  }
}