@use '../node_modules/gerillass/scss/gerillass' as *;

@forward 'theme';

:root {
  --phi: 1.618;
  --e: 2.71828;
  --pi: 3.14159;
  --golden: 1.618;
  --content-width: 1920px;
  --spacing-unit: calc(1.618rem * var(--phi));
  --space-phi: calc(1.618rem * var(--phi));
  --space-e: calc(1.618rem * var(--e));
  --space-pi: calc(1.618rem * var(--pi));

  --base : clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --p : clamp(1rem, 0.314vw + 1.184rem, 1.314rem);
  --sm : clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --md : clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --lg : clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --xl : clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --xxl : clamp(2.24rem, 2.38vw + 1.85rem, 3.45rem);
  --thicc : clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  --big : clamp(4.20rem, 4.81vw + 2.66rem, 5.8rem);
  --giant : clamp(6.854rem, 6.85vw + 5.089rem, 11.089rem);
  --h1 : clamp(4.236rem, 4.34vw + 2.854rem, 6.854rem);
  --h2 : clamp(2.618rem, 2.69vw + 1.236rem, 4.236rem);
  --h3 : clamp(1.618rem, 1.84vw + 1.121rem, 2.618rem);
  --h4 : clamp(1.314rem, 0.82vw + 1.618rem, 1.618rem);
  --h5 : clamp(1.101rem, 0.60vw + 1.303rem, 1.303rem);
  --h6 : clamp(0.969rem, 0.50vw + 1.121rem, 1.121rem);
}

@include breakpoint(max, medium) {
  :root {
     --h1: var(--xxxl);
     --h2: var(--xxl);
     --h3: var(--xl);
     --h4: var(--lg);
     --h5: var(--md);
  }
}

html {
  font-size: 18px;
}

body {
  background: var(--c-background);
  color: var(--c-body);
  width: 100%;
  min-height: 100vh;
}

.container {
  --gutter: 4.20vw;
  width: 1920px;
  max-width: calc(100% - var(--gutter) * 3.14159);
  margin-right: auto;
  margin-left: auto;
}